/* Section 1
Top title header and design with images of literature greats*/

/* Style for the Title header */
#great {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: #eeeeee;
    text-shadow: 
        .5px -.5px 0 #000, 
        -1px 2px 1px #666,
        1px 1px 15px #ece9e5, 
        0 0 35px #b6b3ae;
    font-size: 35px;
}

/* Puts top poet images in flexbox, row, creates double shadow effect for depth*/
.poet-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.poet-images img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
    /* hor.offset, vert.offset, blur, spread, rgba*/
    box-shadow: 30px 30px 100px 50px rgba(0, 0, 0, 0.2), 30px 30px 30px 10px rgba(0, 0, 0, 0.3);
    transition: 2s ease;
}

.poet-images img:hover {
    transform: rotate(15deg);
}


/* Bottom section, footnote Tricky Link */
.link-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-link {
    margin-top: auto;
    text-align: center;
}